<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:sec="http//www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
<h1>Login</h1>
<div th:if="${param.error ne null}" style="color:red;">
	The login details were not recognised, please try again.
</div>
<form th:action="@{/logincheck}" method="POST">
	<p><label for="username">Enter Username:</label>
	<input name="username"/></p>
	<p><label for="password">Enter Password:</label>
	<input name="password" type="password"/></p>
	<p><button type="submit">Log In</button></p>
</form>
</body>
</html>